/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  background: color #ffff8f;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/** end reset css**/
body {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}
section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
  text-align: center;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
nav li {
  padding: 0 10px;
  font-size: 1.2em;
}

li:hover {
  color: #b1663c;
  cursor: pointer;
}
#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}

#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}

#introduction p {
  margin-bottom: 0.5em;
}
#portfolio h2 {
  text-align: center;
  margin-bottom: 1em;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding-bottom: 50px;
}

.gallery img {
  width: 100%;
}
#contact {
  width: 50%;
  margin: auto;
}
#contact > * {
  text-align: center;
}
#contact h2 {
  margin-bottom: 20px;
}
#contact form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

#contact input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
  margin: 2em 0 1em 0;
}
#contact textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.nav-projet {
  padding: 10px 30px;
  border: 1px solid #1d6154;
  margin: 0 5px;
  border-radius: 60px;
  color: #1d6154;
  font-size: 16px;
  font-weight: 700;
}
a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

button:hover {
  background-color: #1d6154;
  cursor: pointer;
  color: white;
}

.projet {
  padding: 50px 20px;
}

.edit-projet {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.modifier-hover {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modifier-hover p {
  padding: 10px;
}

.modal1 {
  display: none;
  justify-content: center; /* Cela centrera horizontalement l'élément */
  align-items: center; /* Facultatif : centre également verticalement */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; /* Assurez-vous que le modal est au-dessus de tout le reste */
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  width: 50em;
  border-radius: 15px;
  padding: 10px;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px; /* Taille de la croix */
  padding: 10px;
}

.back-icon {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  font-size: 24px; /* Taille de la flèche de retour */
  padding: 10px;
}

.galerie-title {
  padding: 50px;
  color: black;
  font-weight: lighter;
}

.images-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Trois colonnes de largeur égale */
  gap: 20px; /* Espace entre les éléments */
  padding: 0 50px;
}

.image-container {
  position: relative; /* Position déclarée */
}

.images-container img {
  width: 100%; /* L'image prend toute la largeur de son conteneur */
  height: auto; /* Hauteur automatique pour garder les proportions */
}

.trash-icon {
  position: absolute; /* Position absolue par rapport au conteneur */
  top: 4px;
  right: 4px;
  z-index: 1;
  color: white;
  background-color: black;
  border-radius: 15%; /* Forme circulaire */
  padding: 5px; /* Plus de padding pour un fond plus grand */
  font-size: 15px; /* Taille de l'icône plus grande */
}


.separator {
  border-top: 2px solid #a9a9a9; /* Couleur gris plus foncé et épaisseur plus importante */
  margin: 20px auto; /* Centrer la ligne séparateur */
  width: 70%; /* Réduire la longueur de la ligne */
}


.button-ajout-photo {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 300px;
  text-align: center;
  border-radius: 60px;
  border: none;
  font-size: 16px; /* Augmenter la taille de la police */
  padding: 10px 0; /* Ajouter plus de padding pour rendre le bouton plus épais */
}

.modal2 {
  display: none;
  justify-content: center; /* Cela centrera horizontalement l'élément */
  align-items: center; /* Facultatif : centre également verticalement */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999; /* Assurez-vous que le modal est au-dessus de tout le reste */
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content2 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 50em;
  border-radius: 15px;
  padding: 10px;
  gap: 20px;
}

.contact-title {
  margin-bottom: 1em;
  font-family: "Syne";
  font-weight: 700;
  font-size: 20px;
  color: #1d6154;
}

.contact-input {
  height: 50px;
  width: 500px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  margin-bottom: 20px; /* Ajustez la marge pour correspondre à votre mise en page */
}

.preview-image {
  height: 100px;
  width: 500px;
  background-color:#E8F1F6;
  ;
}
